<div class="users">
    <h4 class="users__heading">All Conversations</h4>
    <ul class="users__list">
        <li class="users__list-item">
            <div class="users__list-item-avatar">A</div>
            <span title="Alexander HoHo HoHoHoHo" class="users__list-item-name">Alexander HoHosssssssss</span> 
        </li>

        <li class="users__list-item">
            <div class="users__list-item-avatar">C</div>
            <span title="Alexander HoHo HoHoHoHo" class="users__list-item-name">Chiranjeevi Lluís</span> 
        </li>

        <li class="users__list-item active">
            <div class="users__list-item-avatar">M</div>
            <span title="Alexander HoHo HoHoHoHo" class="users__list-item-name">Ming Bake</span> 
        </li>
    </ul>

    <app-join-group></app-join-group>
    <app-create-group></app-create-group>
</div>