<div class="users">
  <h4 (click)="collapse()" class="users__heading">
    All Conversations
    <i class="fas fa-chevron-down" [class.rotate]="isCollapse"></i>
  </h4>
  <ul
    [ngStyle]="{ display: users.length === 0 ? 'none' : 'block' }"
    class="users__list"
    [class.collapse]="isCollapse"
  >
    <li
      routerLinkActive="active"
      routerLink="/chat/chat-main/{{ user.type }}/{{ user.name }}"
      (click)="showMessage(user.type, user.name)"
      class="users__list-item"
      *ngFor="let user of users"
    >
      <div class="users__list-item-avatar">
        {{ user.name[0] | uppercase }}
      </div>
      <span title="{{ user.name }}" class="users__list-item-name">{{
        user.name
      }}</span>
    </li>
  </ul>

  <app-join-group></app-join-group>
  <app-create-group></app-create-group>
</div>
