@import "../../../assets/colors";
@import "../../../assets/utilities";

.users {
  &__heading {
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-txt);
    padding: 8px 10px;
    transition: background 0.2s;
    border-radius: 10px;

    &:hover {
      background-color: var(--clr-bg-hover);
      border-radius: 10px;
    }

    & > i.fas {
      transform-origin: center;
      transition: transform .3s;
    }

    & > i.fas.rotate {
      transform: rotate(-180deg);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 315px;
    padding: 4px 8px;
    @include myScrollBar();
    box-shadow: var(--clr-shadow);
    border-radius: 10px;
    @include collapse();

    &-item {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 10px;

      &:hover {
        background-color: var(--clr-bg-hover);
      }

      &-avatar {
        position: relative;
        @include avatar(36px, 12px);
        margin-right: 14px;

        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $clr-disabled;
          bottom: 0;
          border: 2px solid var(--clr-bg);
          right: 0;
        }

        &.online {
          &::after {
            background-color: $clr-successful;
          }
        }
      }

      &-name {
        font-size: 15px;
        @include threeDots();
        flex: 1;
        color: var(--clr-txt);
      }
    }

    &-item.active {
      background-color: var(--clr-bg-hover);
    }
  }
}
