@import "../../../assets/colors";

.toast {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 360px;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 50px;
  box-shadow: var(--clr-shadow);
  background-color: var(--clr-bg);

  &-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lighten($color: $clr-successful, $amount: 50%);
    font-size: 20px;
    color: $clr-successful;
    margin-right: 16px;
    display: grid;
    place-items: center;
  }

  &-content {
    color: $clr-text;
    font-size: 16px;

    h4 {
      color: var(--clr-txt);
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 14px;
    }
    span {
      color: $clr-successful;
    }
  }

  &-close {
    position: absolute;
    right: 26px;
    cursor: pointer;
    color: lighten($color: #000000, $amount: 50%);
    font-size: 18px;
  }
}
