<div class="chat">

  <div class="chat__info">
    <div class="chat__info-branch">
      <img
        draggable="false"
        src="../../../assets/images/chat-icon-header.svg"
      />
      <h2>Super</h2>
    </div>

    <div class="chat__info-user">
      <div class="chat__info-avatar">{{ username[0] | uppercase }}</div>
      <h3 class="chat__info-name" >
        {{ username }}
      </h3>

      <p class="chat__info-active">
        <span></span>
        Active
      </p>

      <div class="chat__info-actions">
        <!-- <span> <i class="fas fa-user-plus"></i></span> -->
        <span (click)="showJoinGroup()"><i class="fas fa-sign-in-alt"></i></span>
        <span (click)="showCreateGroup()"><i class="fas fa-users"></i></span>
      </div>

      <div (click)="onLogOut()" class="chat__info-log-out">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>

    <app-user-list></app-user-list>
  </div>


  
  <div>
    <router-outlet></router-outlet>
  </div>

</div>
