<div class="sign-container">
    <section class="sign-container__visual">
        <div class="sign-container__text">
            <h2>Super.</h2>
            <p>
                A central hub where teams can work, plan and achieve amazing things together.
            </p>
        </div>

        <div class="sign-container__image-box">
            <img draggable="false" src="../../../assets/images/visual-sign-up.svg" alt="Visual image for sign-up" />
        </div>
    </section>

    <section class="sign-container__content">
        <header>
            <p>Start for free</p>
            <h1>Sign up to Super.</h1>
            <p>Already a member? <a routerLink="/">Sign in</a></p>
        </header>

        <form class="sign-container__form" #signUp="ngForm" (ngSubmit)="onSignUp()">
            <div class="sign-container__form-group">
                <label for="username">Username</label>
                <input [(ngModel)]="username" minlength="3" required type="text" name="username" #un="ngModel" />
                <i class="fas fa-user"></i>

                <!-- Validate form values -->
                <div *ngIf="un.touched && un.invalid">
                    <!-- Not null -->
                    <div *ngIf="un.errors?.required" class="sign-container__warning">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>The username cannot be blank</span>
                    </div>
                    <!-- At least 3 characters -->
                    <div *ngIf="un.errors?.minlength" class="sign-container__warning">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>The username must be at least
              {{ un.errors?.minlength.requiredLength }} chars</span
            >
          </div>
        </div>

         <!-- Check whether username has already existed -->
         <div *ngIf="isExist" class="sign-container__warning">
            <i class="fas fa-exclamation-circle"></i>
          <span>
            Username already exists
          </span
          >
        </div>
      </div>

      <div class="sign-container__form-group">
        <label for="password">Password</label>
        <input
          [(ngModel)]="password"
          required
          minlength="3"
          maxlength="16"
          type="{{ isShowPassword ? 'text' : 'password' }}"
          name="password"
          #pw="ngModel"
        />
        <i
          (click)="showPassword()"
          class="fas"
          [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"
        ></i>

        <!-- Errors handle -->
        <div *ngIf="pw.touched && pw.invalid">
          <div *ngIf="pw.errors?.required" class="sign-container__warning">
            <i class="fas fa-exclamation-circle"></i>
            <span>The password cannot be blank</span>
                    </div>
                    <div *ngIf="pw.errors?.minlength" class="sign-container__warning">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>The password must be at least
              {{ pw.errors?.minlength.requiredLength }} chars</span
            >
          </div>
        </div>
      </div>

      <div class="sign-container__form-group">
        <label for="password">Confirm Password</label>
        <input
          [(ngModel)]="confirmPass"
          required
          minlength="3"
          maxlength="16"
          type="{{ isShowPassword ? 'text' : 'password' }}"
          name="password"
          #pw="ngModel"
        />
        <i
          (click)="showPassword()"
          class="fas"
          [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"
        ></i>

        <!-- Errors handle -->
        <div *ngIf="pw.touched && pw.invalid">
          <div *ngIf="pw.errors?.required" class="sign-container__warning">
            <i class="fas fa-exclamation-circle"></i>
            <span>The password cannot be blank</span>
                    </div>
                    <div *ngIf="pw.errors?.minlength" class="sign-container__warning">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>The password must be at least
              {{ pw.errors?.minlength.requiredLength }} chars</span
            >
          </div>
        </div>
      </div>

      <button
        [disabled]="signUp.invalid"
        class="sign-container__form-btn"
        type="submit"
      >
        Create an account
      </button>
    </form>
  </section>
</div>
