@import "../../../assets/colors";
.error {
  background-image: url(../../../assets/images/error-bg.svg);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 300px;
    }

    h1 {
      margin-top: 20px;
      letter-spacing: 1px;
      color: $clr-primary;
    }

    p {
      text-align: center;
      font-size: 16px;
      font-weight: 4  00;
      color: var(--clr-txt);
      margin-top: 10px;
    }

    a {
      background-color: $clr-primary;
      color: #fff;
      padding: 10px 30px;
      border-radius: 50px;
      margin-top: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}
