.container {
    margin-top: 50px;
    .header {
        display: flex;
        color: #424242;
        .image {
            width: 70px;
            height: 70px;
            background: url(../../../assets/Giang/logo.png);
            background-size: 70px;
            background-position: center;
            background-repeat: no-repeat;
        }
        .title {
            text-align: center;
            width: 150px;
            padding-top: 23px;
            font-weight: bold;
        }
        .sign-up {
            padding-top: 10px;
            height: 50px;
            margin-left: 310px;
            border-radius: 70px;
        }
    }
}