<div class="container bg-light">
    <button class="button btn btn-light">
 <div class="image"></div>
</button>
    <button class="button btn btn-light">
    <div class="icon"><i class="fa fa-comments-o iconnn"></i></div>
    <div class="title">Tin Nhắn</div>
</button>
    <button class="button btn btn-light">
    <div class="icon"><i class="fa fa-address-book-o iconnn"></i></div>
    <div class="title">Danh Bạ</div>
</button>
    <button class="button btn btn-light">
    <div class="icon"><i class="fa fa-bell-o iconnn"></i></div>
    <div class="title">Thông Báo</div>
</button>
    <button class="button btn btn-light">
    <div class="icon"><i class="fa fa-star-o iconnn"></i></div>
    <div class="title">Yêu Thích</div>
</button>
    <button class="button btn btn-danger">
    <div class="icon"><i class="fa fa-cog iconnn"></i></div>
    <div class="title">Cài Đặt</div>
</button>
</div>