<div class="container">
    <div class="header">
        <button class="logo btn">
            <div class="image"></div>
        </button>
        <button class="title btn">Overview</button>
        <button class="title btn">Feature</button>
        <button class="title btn">Pricing</button>
        <button class="title btn">Contact Us</button>
        <button class="title sign-up btn btn-danger"(click)="register()">Sign up</button>
    </div>
    <div class="content">
        <div class="left">
            <div class="title-1">A THOUGHTFUL APPROACH TO MOBIE MEETINGS</div>

            <div class="title-2"><span>CONFIDENTLY WORK FROM HOME&nbsp;<img src="../../../assets/Giang/house.png" style="width: 43px;height: 43px;"></span>
                <!-- <div class="logo-house"></div> -->
            </div>

            <div class="title-3">Meetings for desktop and mobie provides the tools make every meeting a great one</div>

            <div class="title-4 btn btn-danger">Chat Now</div>
        </div>
        <div class="right"></div>
    </div>
</div>
<router-outlet></router-outlet>


