@mixin tablet() {
    @media (max-width: 991.68px) and (min-width: 767.98px) {
        @content;
    }
}

.sign-container {
    @include tablet() {
        & {
            overflow: visible;
            width: 650px;
            height: 800px;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
        }
        &__visual {
            padding: 15px 0 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
        }
        .img__sign-in {
            height: 88%;
            width: 100%;
        }
        .img__sign-up {
            width: 200px;
            padding: 0 15px;
            margin-left: 50px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            padding-left: 50px;
            margin-top: 24px;
        }
        &__content {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}