@import "./colors";

@mixin avatar($size, $fontSize, $bg: $clr-primary) {
  min-width: $size;
  min-height: $size;
  background-color: $bg;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: $fontSize;
  color: #fff;
  font-weight: 600;
}

@mixin threeDots {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin myScrollBar {
  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f3f4f6;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #e5ebe8;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bcc0c4;
  }

  & {
    overflow: hidden;
  }

  &:hover {
    overflow-y: auto;
  }
}

@mixin tooltip($message) {
  & {
    z-index: 100;
  }

  &::after {
    content: $message;
    position: absolute;
    font-size: 12px;
    width: max-content;
    top: 150%;
    color: var(--clr-txt-tooltip);
    background-color: var(--clr-bg-tooltip);
    border-radius: 10px;
    padding: 8px 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(var(--clr-bg), 0.25);
  backdrop-filter: blur(10px);

  .content {
    position: absolute;
    inset: 0;
    margin: 40px auto auto;
    width: 400px;
    height: 300px;
    background-color: var(--clr-bg);
    border-radius: 10px;
    padding: 20px 60px;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);

    &__branch {
      letter-spacing: 1px;
      color: $clr-primary;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 20px;
      color: var(--clr-txt);
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > input {
        width: 100%;
        outline: none;
        padding: 10px 16px;
        color: var(--clr-txt);
        border: 1px solid var(--clr-border);
        border-radius: 50px;
        font-size: 14px;
        letter-spacing: 1px;
        background-color: var(--clr-bg);
      }

      & > button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        background-color: $clr-primary;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 50px;
        padding: 8px 16px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 30px;

        &:active {
          transform: scale(0.97);
        }

        &:disabled {
          background-color: $clr-disabled;
        }
      }

      &-error {
        color: $clr-error;
        width: 100%;
        font-size: 14px;
        margin-top: 8px;

        & > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          & > span {
            margin-left: 5px;
          }
        }
      }

      &-error-server {
        color: $clr-error;
        width: 100%;
        font-size: 14px;

        & > span {
          margin-left: 5px;
        }
      }
    }
    &__close {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      // background-color: $clr-primary;
      color: lighten($color: #000000, $amount: 50%);
      font-size: 16px;
      display: grid;
      place-items: center;
    }
  }
}

@mixin collapse {
  & {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;

    &.collapse {
      opacity: 0;
      visibility: hidden;
    }
  }
}
