@import "./colors";

@mixin avatar($size, $fontSize, $bg: $clr-primary) {
  min-width: $size;
  height: $size;
  background-color: $bg;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: $fontSize;
  color: #fff;
  font-weight: 600;
}

@mixin threeDots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin myScrollBar {
  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f3f4f6;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #e5ebe8;
    
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bcc0c4;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(#fff, 0.25);
  backdrop-filter: blur(10px);

  .content {
    position: absolute;
    inset: 0;
    margin: 40px auto auto;
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 60px;
    box-shadow: 0 8px 30px 0 rgba( 0,0,0,0.25 );
    backdrop-filter: blur(4px);

    &__branch {
      letter-spacing: 1px;
      color: $clr-primary;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &__title {
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > input {
        width: 100%;
        outline: none;
        padding: 10px 20px;
        color: $clr-text;
        border: 1px solid #ccc;
        border-radius: 50px;
        font-size: 14px;
        letter-spacing: 1px;
      }

      & > button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        background-color: $clr-primary;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 50px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 30px;

        &:active {
          transform: scale(0.97);
        }

        &:disabled {
          background-color: $clr-disabled;
        }
      }

      &-error {
        color: $clr-error;
        width: 100%;

        & > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          & > span {
            font-size: 14px;
            margin-left: 8px;
          }
        }
        
      }
    }
    &__close {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $clr-primary;
      color: #fff;
      font-size: 12px;
      display: grid;
      place-items: center;
    }
  }
}