<div class="send-chat">
  <form #sendMessage="ngForm" (ngSubmit)="onSubmit()">
    <div class="send-chat__form">
      <input
        name="msg"
        type="text"
        placeholder="Type your message"
        [(ngModel)]="message"
        
      />

      <div [class.contract]="!isExpand" class="send-chat__emoji">
        <i  (click)="isShowEmoji = !isShowEmoji" class="fas fa-smile"></i>
        <emoji-mart
          [class.show]="isShowEmoji"
          color="#0084ff"
          [showPreview]="false"
          [darkMode]="darkMode"
          (emojiClick)="addEmoji($event)"
        ></emoji-mart>
      </div>

      <button type="submit" [disabled]="!hasMessage()">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
