<div class="container">
 <div class="form container">
       <div class="icon">
        <fa-icon class="icon-camera" [icon]="faCamera"></fa-icon>
       </div>
       <input type="text" placeholder="Enter you name here"/>
       <input type="text" placeholder="Enter a room name"/>
        <div class="btn">
             <button>Create</button>
             <button>Join</button>
        </div>
 </div>
<div class="image">
    <img src="../../../assets/Lâm/register.png" style="width: 500px;
    height: 700px;" >
</div>
</div>
