<div class="chat-main" [class.expand]="isExpandInfo">
  <div>
    <header class="chat-main__header">
      <div [class.online]="isOnline" class="chat-main__header-avatar">
        {{ username[0] | uppercase }}
      </div>
      <div class="chat-main__header-info">
        <h3>{{ username }}</h3>
        <span *ngIf="isOnline; else offline">Active Now</span>

        <ng-template #offline>
          <span>Offline</span>
        </ng-template>
      </div>
      <div (click)="expandInfo()" class="chat-main__header-more">
        <i class="fas fa-info-circle"></i>
      </div>
    </header>

    <div class="chat-main__content">
      <img
        *ngIf="messages.length === 0"
        draggable="false"
        class="chat-main__content-img"
        src="../../../assets/images/undraw_empty_xct9.svg"
        alt="empty"
      />
      <ul>
        <li
          *ngFor="let message of messages; index as i"
          [ngClass]="message.name === mainUsername ? 'right' : ''"
        >
          <div
            [attr.data-username]="message.name"
            class="chat-main__content-avatar"
          >
            {{ message.name[0] | uppercase }}
          </div>

          <span
            class="chat-main__content-text"
            [attr.data-date]="message.createAt | date: 'MMMM hh:mm a'"
          >
            {{ message.mes }}
          </span>
        </li>
      </ul>
    </div>

    <app-send-chat></app-send-chat>
  </div>

  <div>
    <div class="chat-main__group">
      <img
        class="chat-main__group-img"
        draggable="false"
        src="../../../assets/images/undraw_Waiting__for_you_ldha.svg"
        alt=""
      />

      <div class="chat-main__group-info">
        <div class="chat-main__group-avatar">T</div>
        <h3 class="chat-main__group-name">Typescript</h3>
      </div>

      <div class="chat-main__group-details">
        <h4 (click)="collapse()">
          Chat Members
          <i [class.rotate]="isCollapse" class="fas fa-chevron-down"></i>
        </h4>

        <ul class="chat-main__group-members" [class.collapse]="isCollapse">
          <li>
            <div class="chat-main__group-members-avatar">G</div>
            <span class="chat-main__group-members-name">Gsgsgsgssgsg</span>
          </li>

          <li>
            <div class="chat-main__group-members-avatar">A</div>
            <span class="chat-main__group-members-name"
              >AGAsgsgssssssgcccccccccccssgsg</span
            >
          </li>

          <li>
            <div class="chat-main__group-members-avatar">P</div>
            <span class="chat-main__group-members-name">PGsgsgsgssgsg</span>
          </li>

          <li>
            <div class="chat-main__group-members-avatar">P</div>
            <span class="chat-main__group-members-name">PGsgsgsgssgsg</span>
          </li>

          <li>
            <div class="chat-main__group-members-avatar">P</div>
            <span class="chat-main__group-members-name">PGsgsgsgssgsg</span>
          </li>

          <li>
            <div class="chat-main__group-members-avatar">P</div>
            <span class="chat-main__group-members-name">PGsgsgsgssgsg</span>
          </li>

          <li>
            <div class="chat-main__group-members-avatar">P</div>
            <span class="chat-main__group-members-name">PGsgsgsgssgsg</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
