@import "../../../assets/utilities";
@import "../../../assets/colors";
@import "../../../assets/responsive";

.chat-main {
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 10px 10px 10px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;

  @include tablet() {
    padding-right: 0;
    grid-template-columns: 1fr;


    & > div:nth-child(2) {
      width: 300px;
      box-shadow: var(--clr-shadow);
      border-radius: 10px;
      position: absolute;
      background-color: var(--clr-bg);
      overflow: hidden;
      top: 10px;
      bottom: 10px;
      right: 0;
      z-index: 100;
    }
  }

  

  &.expand {
    grid-template-columns: 2fr;

    .chat-main__content-text {
      max-width: 500px;

      @include tablet() {
        max-width: 300px;
  
      }
    }

    & > div:nth-child(2) {
      display: none;
    }
  }

  &__header {
    position: relative;
    width: 100%;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    box-shadow: var(--clr-shadow);
    border-radius: 10px;

    &-avatar {
      position: relative;
      @include avatar(40px, 16px);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $clr-disabled;
        border: 2px solid #fff;
      }

      &.online {
        &::after {
          background-color: $clr-successful;
        }
      }
    }

    &-info {
      color: var(--clr-txt);
      h3 {
        font-weight: 600;
        font-size: 16px;
      }

      span {
        display: block;
        font-size: 12px;
        font-weight: 400;
      }
    }

    &-more {
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      color: $clr-primary;
      right: 10px;
      display: grid;
      place-items: center;
      @include tooltip("Conversation Information");

      @include tablet() {
        position: fixed;
        z-index: 1000;
        right: 20px;
        
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__content {
    position: relative;
    margin: 14px 0 10px;
    padding: 10px 10px 0;
    height: 545px;
    overflow-y: auto;
    box-shadow: var(--clr-shadow);
    border-radius: 10px;
    @include myScrollBar();

    @include tablet() {
      height: 446px;
    }

    ul {
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 12px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      li.right {
        align-self: flex-end;
        color: #fff;
        flex-direction: row-reverse;
        margin-bottom: 6px;
      }
    }

    &-img {
      position: absolute;
      width: 250px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-avatar {
      position: relative;
      @include avatar(30px, 12px);
      cursor: default;

      &::after {
        content: attr(data-username);
        background-color: rgba(#000000, 0.7);
        color: #fff;
        border-radius: 10px;
        width: fit-content;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 10px;
        position: absolute;
        top: 110%;
        left: 0%;
        z-index: 100;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }

      li.right > & {
        display: none;
      }
    }

    &-text {
      position: relative;
      width: fit-content;
      word-wrap: break-word;
      max-width: 300px;
      padding: 8px 16px;
      border-radius: 10px;
      color: var(--clr-txt);
      background-color: var(--clr-bg-message);

     

      &:hover::after {
        opacity: 1;
        visibility: visible;
      }

      li.right > & {
        background-color: $clr-primary;
        color: #fff;
      }

      &::after {
        content: attr(data-date);
        position: absolute;
        width: max-content;
        top: 50%;
        transform: translateY(-50%);
        left: initial;
        right: -160px;
        background-color: rgba(#000000, 0.7);
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 10px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
      }

      li.right &::after {
        left: -160px;
        right: initial;
      }
    }
  }

  &__group {
    position: relative;
    margin-top: 66px;
    width: 280px;
    height: calc(555px + 62px);
    padding: 0 26px;

    @include tablet() {
      width: 200px;
      padding: 0 16px;
    }

    &-img {
      display: none;
      position: absolute;
      border-radius: 10px;
      max-width: 280px;
      top: 50%;
      padding: 10px;
      transform: translate(5px, -66%);

    }

    &-info {
      width: 280px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      margin-bottom: 35px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: var(--clr-shadow);
      transform: translateX(5px);
      // display: none;

      @include tablet() {
        width: 260px;
        margin: 0 auto;
      }

    }

    &-avatar {
      @include avatar(60px, 20px, complement($clr-primary));
    }

    &-name {
      font-size: 18px;
      color: var(--clr-txt);
      letter-spacing: 1px;
      font-weight: 600;
    }

    &-details {

      // display: none;
      h4 {
        width: 280px;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        color: var(--clr-txt);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        transition: background 0.2s;
        font-weight: 500;
        transform: translateX(5px);
        border-radius: 8px;

        @include tablet() {
          width: 260px;
          margin: 10px 0;
        }


        & > i.fas {
          transition: transform 0.3s;
        }

        & > i.fas.rotate {
          transform: rotate(-180deg);
        }

        &:hover {
          background-color: var(--clr-bg-hover);
        }
      }
    }

    &-members {
      padding-left: 10px;
      width: 280px;
      max-height: 394px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      @include myScrollBar();
      @include collapse();
      box-shadow: var(--clr-shadow);
      border-radius: 10px;
      padding: 10px 0 10px 10px;
      margin: 0 auto;
      transform: translateX(5px);

      @include tablet() {
        width: 260px;
        height: 310px;
      }

      li {
        display: flex;
        align-items: center;
      }

      &-avatar {
        @include avatar(36px, 12px, complement($clr-primary));
        margin-right: 14px;
      }

      &-name {
        flex: 1;
        font-size: 15px;
        color: var(--clr-txt);
        @include threeDots();
      }
    }
  }
}
