<div class="chat-main" [class.expand]="isExpandInfo">
  <div>
    <header class="chat-main__header">
      <div [class.online]="isOnline" class="chat-main__header-avatar">
        {{ username[0] | uppercase }}
      </div>
      <div class="chat-main__header-info">
        <h3>{{ username }}</h3>
        <span *ngIf="isOnline; else offline">Active Now</span>

        <ng-template #offline>
          <span>Offline</span>
        </ng-template>
      </div>
      <div (click)="expandInfo()" class="chat-main__header-more">
        <i class="fas fa-info-circle"></i>
      </div>
    </header>

    <div class="chat-main__content" #messageList>
      <img
        *ngIf="messages.length === 0"
        draggable="false"
        class="chat-main__content-img"
        src="../../../assets/images/undraw_empty_xct9.svg"
        alt="empty"
      />
      <ul>
        <li
          *ngFor="let message of messages; index as i"
          [ngClass]="message.name === mainUsername ? 'right' : ''"
        >
          <div
            [attr.data-username]="message.name"
            class="chat-main__content-avatar"
          >
            {{ message.name[0] | uppercase }}
          </div>

          <span
            class="chat-main__content-text"
            [attr.data-date]="message.createAt | date: 'MMMM hh:mm a'"
          >
            {{ message.mes }}
          </span>
        </li>
      </ul>
    </div>

    <app-send-chat [isExpand]="isExpandInfo" (onSendChat)=sendChat($event)></app-send-chat>
  </div>

  <div>
    <div class="chat-main__group">
      <img
        *ngIf="hasRoute('/chat/chat-main/0/')"
        class="chat-main__group-img"
        draggable="false"
        src="../../../assets/images/undraw_Waiting__for_you_ldha.svg"
        alt=""
      />

      <div class="chat-main__group-info" *ngIf="hasRoute('/chat/chat-main/1/')">
        <div class="chat-main__group-avatar">{{ username[0] | uppercase }}</div>
        <h3 title='{{username}}' class="chat-main__group-name">{{ username }}</h3>
        <p title='{{ owner }}' class="chat-main__group-owner">Owner: {{owner}}</p>
      </div>

      <div
        class="chat-main__group-details"
        *ngIf="hasRoute('/chat/chat-main/1/')"
      >
        <h4 (click)="collapse()">
          Chat Members
          <i [class.rotate]="isCollapse" class="fas fa-chevron-down"></i>
        </h4>

        <ul
          *ngIf="members.length !== 0"
          class="chat-main__group-members"
          [class.collapse]="isCollapse"
        >
          <li *ngFor="let member of members">
            <div class="chat-main__group-members-avatar">
              {{ member.name[0] | uppercase }}
            </div>
            <span class="chat-main__group-members-name">{{ member.name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
